.header {
  font-family: outfit;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  .header-logo {
    background-color: red;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 5px;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 12px;
    img {
      border-radius: 50%;
      width: 50px;
    }
  }
  .header-nav {
    left: 10px;
    position: absolute;
    width: 30%;
    display: flex;
    nav {
 
      background-color: green;
      display: none !important;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 20px;
      height: max-content;
      gap: 30px;
      text-transform: capitalize;
      font-size: 24px;
    }
    
    div {
      &:hover a {
        border-bottom: 1px solid whitesmoke;
      }
    }
  }
  .header-stats{
    right: 10px;
    position: absolute;
    .button{
      display: none;
      padding: 10px;
      border: 1px solid black;
      width: 70%;
    }
    .stats_search{
      input[type="text"]{
        display: none;
      }
    }
  }
}
