.header {
  font-family: outfit;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #2b2b2b;
  .header-logo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 5px;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 12px;
    padding: 18px;
    color: whitesmoke;
    font-size: 20px;
    img {
      border-radius: 50%;
      width: 50px;
      display: none;
    }
  }
  .header-nav {
    left: 10px;
    position: absolute;
    width: 30%;
    display: flex;
    nav {
      display: none !important;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 20px;
      height: max-content;
      gap: 30px;
      text-transform: capitalize;
      font-size: 24px;
    }
    svg {
      cursor: pointer;
    }
    div {
      &:hover a {
        border-bottom: 1px solid whitesmoke;
      }
    }
  }
  .header-stats {
    right: 10px;
    position: absolute;
    .button {
      display: none;
      padding: 10px;
      border: 1px solid black;
      width: 70%;
    }
    .stats_search {
      input[type="text"] {
        display: none;
      }
    }
  }
}
.intro {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  .intro_top {
    width: inherit;
    height: inherit;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    .intro_about {
      width: inherit;
      height: inherit;
      background-color: #3b3b3b;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      .intro_about_image {
        padding: 20px;
        width: 100%;
        height: 600px;
        .swiper {
          width: 80%;
          height: 100%;
        }
        .swiper-horizontal
          > .swiper-pagination-bullets
          .swiper-pagination-bullet,
        .swiper-pagination-horizontal.swiper-pagination-bullets
          .swiper-pagination-bullet {
          padding-left: 40px;
          height: 2px;
          border-radius: none !important  ;
          background-color: whitesmoke;
        }
        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
