.header {
  font-family: outfit;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #2b2b2b;
  .header-logo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start !important;
    width: 25%;
    gap: 10px;
    padding: 18px;
    font-size: 20px;
    color: white;
    img {
      border-radius: 50%;
      width: 50px;
      display: none;
    }
  }
  .header-nav {
    position: relative;
    width: max-content;
    display: flex;
    justify-content: center;
    width: 55%;
    align-items: center;
    nav {
      display: flex !important;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 20px;
      height: max-content;
      gap: 30px;
      text-transform: capitalize;
      font-size: 24px;
    }
    svg {
      display: none;
    }
    div {
      &:hover a {
        border-bottom: 1px solid whitesmoke;
      }
    }
  }
  .header-stats {
    position: relative;
    width: 20%;
    display: flex;
    padding-left:10px ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .button {
      display:none;
      border-radius: 15px;
      padding: 15px;
      justify-content: center;
      align-items: center;
   flex-flow: row wrap;
      color: whitesmoke;
      border: 2px solid rgb(255, 255, 255);
      width: 130px;
    }
    .stats_search {
      input[type="text"] {
        display: none;
      }
    }
  }
}
